@font-face {
    font-family: Cervantis;
    src: url(Cervanttis.ttf);
}
html {
	scroll-behavior: smooth;
}
body {
  color: #151516;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 130%;
  transition: background-color 0.5s ease;
}
a {
  text-decoration: none !important;
}
.intro {
  position: absolute;
  margin-left: 100px;
  z-index: 1;
  padding-top: 200px;
}
.intro p {
  font-weight: 200;
  margin-left: 70px;
  width: 50%;
}
.title {
  font-family: Cervantis;
  font-size: 64px;
  transform: rotate(-5deg);
  font-weight: 200;
  z-index: 1;
  margin-bottom: 80px;
}
/* i wonder if there's anything i can do to make only the stroke blend mode set to difference. I don't like that the background doesn't appear to transition */
.navBar {
  mix-blend-mode: difference;
  position: fixed;
  z-index: 1;
  left: -180px;
  text-align: left;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  border: 1px solid #F1EFED;
  background-color: rgb(0,0,0,0);
  padding: 80px 20px 80px 20px;
  border-radius: 0px 50% 50% 0;
  transition: 0.5s;
  height: 350px;
}
.navLeft {
  float: left;
}
.navRight {
  margin-left: 20px;
  float: right;
  height: 100%;
}
.menu {
  margin-top: 160px;
  opacity: 1;
  transform: rotate(-90deg);
  color: #F1EFED;
}
.navBar:hover {
  mix-blend-mode: normal;
  border: 0px;
  background-color: rgb(0,0,0,0.8);
  left: 0;
  border-radius: 0px 20px 20px 0;
}

.navLogo {
  margin-bottom: 40px;
  cursor: pointer;
  display: inline-block;
}
.navLogo img {
  mix-blend-mode: difference;
}
.navLogo::before {
  mix-blend-mode: normal;
  content: "";
  position: absolute;
  left: 48px;
  top: 96px;
  z-index: -1;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: #F1EFED;
  transition: 0.5s;
  transform-origin: center center;
  transform: scale(1) rotate(0deg);
  opacity: 0;
}
.navLogo:hover::before {
  transform: scale(3) rotate(-45deg);
  opacity: 0.9;
  border-radius: 50%;
}
.navItem {
  margin-bottom: 40px;
  cursor: pointer;
  opacity: 50%;
  transition: 0.5s;
  transform-origin: center right;
  letter-spacing:normal;
}
.navItem a {
  color: #F1EFED;
}
.navItem:hover {
  opacity: 100%;
  letter-spacing: 1px;
}
.navItem::before {
  /* position: absolute; */
  margin-top: 6px;
  margin-right: 8px;
  content: "";
  display: inline-block;
  background-color: #F49842;
  width: 8px;
  height: 8px;
  border-radius: 0;
  transition: 0.5s;
  opacity: 0;
  transform: rotate(45deg);
  transform-origin: center center;
}
.navItem:hover::before {
  opacity: 100;
  transform: rotate(-45deg);
  border-radius: 50%;
}
.featured {
  margin: 0px 0 70px 35%;
  width: 65%;
  position: relative;
}
.featuredImage {
  width: 100%;
  height: 570px;
  object-fit: cover;
  margin: 70px 0 70px 0;
}
.glowAndText {
  position: absolute;
  bottom: 0;
  left: 0;
}
.glowContainer {
  position: absolute;
  padding-right: 40%;
  bottom: -100px;
  left: -100px;
  mix-blend-mode: overlay;
}
.glowContainer img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 700px;
}
.glowGrain {
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: overlay;
}
/* about section */
.about {
  margin: 50px 100px 50px 100px;
  height: 700px;
  /* for some reason 100% doesnt work it doesnt wrap */
}
.aboutInfo {
  float:left;
  width: 40%;
}
.sectionTitle {
  margin: 0;
  padding: 0;
  margin-bottom: -60px;
  margin-left: -20px;
}
.aboutText {
  margin-left: 70px;
  top: 20px;
  width: 100%;
  line-height: 150%;
}
.cta {
  position: relative;
  margin: 20px 0 0 70px;
  cursor: pointer;
  color: black;
  opacity: 50%;
  transform-origin: center left;
  letter-spacing:normal;
  display: inline-block;
  transition: 0.5s;
}
.cta h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  border: 1px solid #F49842;
  padding: 8px 12px;
  color: black;
}
.cta:hover {
  opacity: 100%;
  letter-spacing: 1px;
}
.cta::after {
  content: '';
  position: absolute;
  z-index: -1;
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  left: 0;
  top: 0;
  background-color: #F49842;
  transform-origin: bottom right;
  transition: transform 0.5s;
}

.cta:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* paintings on about */
/* i would like the images to start scaling down after a certain window width */
.aboutImage {
  float: right;
  width: 60%;
  height: 600px;
  position:relative;
}
.aboutImage img {
  position: absolute;
}
.aboutImage #oil {
  width: 180px;
  right: 50px;
  filter: blur(1.4px);
}
.aboutImage #oil2 {
  width: 300px;
  bottom: 0px;
  left: -80px;
  filter: blur(1.5px);
  z-index: -2;
  opacity: 0.7;
}
.aboutImage #ink {
  width: 320px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* filter: drop-shadow(0 10px 30px rgba(0,0,0,0.4)); */

}
.aboutImage #ceramic {
  width: 300px;
  height: 450px;
  right: 0;
  top: 300px;
  object-fit: cover;
  object-position: 50% 0%;
  filter: blur(1.5px);
}
.works {
  padding-top: 50px;
  position: relative;
  margin: 100px 0 100px 0;
}
.container {
  margin: 50px 0 180px 0px;
}
.galleryTitle {
  margin-left: 100px;
  color: #F1EFED;
  mix-blend-mode: difference;
}
.galleryTitle h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 4rem;
  text-transform: uppercase;
}
.highlightBox {
  position: absolute;
  z-index:0;
  width: 500px;
  height: 500px;
  background-color: #F1EFED;
}
#ceramicbox {
  left: 0;
}
.gallery {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 500px;
  width: 100%;
  align-items: center;
  position: relative;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  cursor: url('Wireframe/drag_cursor.svg') 48 48, pointer;
}
.gallery.active {
  transform: scale(1);
}
.gallery::-webkit-scrollbar {
  display: none;
}
.artwork {
  height: 300px;
  width: 300px;
  margin: 0 25px;
  position: relative;
  filter: drop-shadow(0 0 30px rgb(244,152,66,0.1));
  transition: all 0.5s;
  object-fit: cover;
  transform-origin: center center;
}
.artwork:hover {
  transform: scale(0.95);
}
.pos1 {
  top: -60px;
}
.pos2 {
  top: 20px;
}
.pos3 {
  top: 100px;
}
.pos4 {
  top: -100px;
}
.pos5 {
  top: -20px;
}
.pos6 {
  top: 60px;
}
/* anchor point adjustments */
#ceramicssect {
  padding-top: 60px;
}
#inksect {
  padding-top: 60px;
  text-align: right;
  margin-right: 100px;
}
#aboutsect {
  padding-top: 60px;
}

#inkbox {
  right: 0;
}
#inkGallery {
  flex-direction: row-reverse;
}
/* footer */
.footer{
  margin: 300px 0 80px 0;
  padding: 20px 100px;
}
.links{
  margin-top: 100px;
}
.links a{
  color: #151516;
  text-decoration: underline !important;
  font: 'Roboto', sans-serif;
  font-weight: 200;
  margin-right: 48px;
  transition: all 0.5s;
}
.links a:hover {
  color: #F49842;
  letter-spacing: 1px;
  transform-origin: center left;
}
/* reveal */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.show{
  transform: translateY(0);
  opacity: 1;
}